<!DOCTYPE html>
 {% load static %}
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cenabast ERP</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,700&display=swap"
    rel="stylesheet" />
  <link rel="shortcut icon" type="image/svg+xml" href="{% static 'assets/bot.svg' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
  <!--* Menu -->
  <div
    class="w-full px-4 md:px-8 lg:px-16 xl:px-32 py-4 md:py-8 text-base md:text-lg flex flex-col md:flex-row items-center justify-between">
    <div class="flex items-center justify-center mb-4 md:mb-0 mr-4">
      <a href="/" class="flex items-center">
        <img src="{% static 'assets/logo.webp' %}" alt="logo" width="250" height="150" />

        <span class="text-3xl cursor-pointer mx-2 md:hidden block ml-14">
          <img src="{% static 'assets/Menu.svg' %}" alt="Menu" width="30" height="30" onclick="Menu(this)" />
        </span>
      </a>
    </div>
    <nav class="md:mt-0 flex overflow-x">
      <a class="relative group flex items-center mr-2 md:mr-4" href="#Proyectos">
        <span class="hover:underline">Proyectos</span>
        <svg class="h-5 w-5 text-blue-500 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        <span
          class="h-[2px] inline-block w-0 bg-black absolute left-0 -bottom-0.5 group-hover:w-full transition[width] ease duration-300">&nbsp;</span>
      </a>

      <a class="relative group flex items-center mr-2 md:mr-4" href="#ReqEnCurso">
        <span class="hover:underline">Requerimientos en Curso</span>
        <svg class="h-5 w-5 text-blue-500 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
        </svg>
      </a>
      <!-- Agrega más enlaces según sea necesario -->

      <a class="relative group flex items-center mr-2 md:mr-4" href="#TiposRequerimientos">
        <span class="hover:underline">Tipos de Requerimientos</span>
        <svg class="h-5 w-5 text-blue-500 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </a>
      <!--
      <a class="relative group flex items-center mr-2 md:mr-4" href="#Transformacion">
        <span class="hover:underline">Transformacion Digital</span>
        <svg class="h-8 w-8 text-blue-500 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
      </a>
    -->
      <a class="relative group flex items-center" href="#Conocenos">
        <span class="hover:underline">Conócenos</span>
        <svg class="h-5 w-5 text-blue-500 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
      </a>
    </nav>
  </div>

  <!--* Carrusel -->
  <main class="flex flex-col lg:flex-row items-center justify-between">
    <div class="grid mx-32 place-items-center lg:text-left lg:items-start lg:self-auto lg:w-1/2">
      <h1 class="text-4xl lg:text-6xl">Administración ERP</h1>
      <p class="my-8 mx-4 lg:mx-0 text-lg lg:text-xl font-medium text-center w-auto">
        Sección encargada de administrar y dar continuidad operativa al sistema ERP SAP. 
        <br>
        <br>
        <span class="font-normal ">Encargados de la implementación de los proyectos asociados al ERP, ya sea por modernización, nuevos modelos de negocios, mejoras en los procesos actuales y nuevos procesos a implementar. A su vez, entregamos soluciones a las incidencias reportadas por cada departamento de la institución.</span>
      </p>
      <div class="flex flex-col lg:flex-row gap-4">
        <a href="https://forms.gle/aCQw1Dwpyp2QG1Uj6" target="_blank"
          class="flex items-center justify-center bg-blue-600 text-white p-2.5 rounded-lg text-sm lg:text-lg font-semibold hover:bg-blue-500 border-2 border-solid text-center border-transparent hover:border-black w-auto px-4">
          Solicitud Requerimiento
        </a>
      </div>
    </div>
    <div class="lg:w-1/2 mt-4 lg:mt-0">
      <img src="{% static 'assets/imagenERP2.webp' %}" alt="" width="700" height="700" class="" />
    </div>
  </main>

<!-- Requerimientos En Curso -->
  <div id="ReqEnCurso">
  <section class="text-neutral-700 dark:text-neutral-300 my-24">
    <h1 class="text-3xl font-bold mb-12 text-center text-black">Requerimientos en Curso</h1>
    </selection>
  </div>
 <!-- BOTON QUE LLEVA A SECCION PROYECTOS
    <div class="flex items-center justify-center">
      <a href="/proyectos"
        class="bg-blue-600 text-white p-2.5 rounded-lg text-sm lg:text-lg font-semibold hover:bg-blue-500 border-2 border-solid text-center border-transparent hover:border-black w-auto px-4">
        ERP - CENABAST
      </a>
    </div>
  -->

    <div class="flex items-center justify-center h-screen">
      <iframe title="Grafico Radar" width="900" height="673.5" src="https://app.powerbi.com/view?r=eyJrIjoiNmM3YjYwZjYtN2ZlNS00ZDMyLTkxMDItZDg4NjczOTJkYThiIiwidCI6IjJlOTQ1NTBhLWYxYmYtNGUzZC1hY2ViLWJhZTUwY2YxZmJlMyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>


    <!--* Proyectos En Curso  -->
  <div class="bg-white p-6 mx-auto my-10 rounded-md text-center" id="Proyectos">
    <h1 class="text-3xl font-bold text-black mb-12 mt-8">Proyectos en Curso</h1>
    <!--* Foto Trello  -->
    <div class="flex items-center justify-center">
      <div class="place-self-center">
        <img src="{% static 'assets/ERP_QUE_ES.svg' %}" alt="ERP" width="500" height="500"
          class="relative inset-0 flex" />
      </div>
    </div>


  <!--* Testimonios -->
  <div id="TiposRequerimientos">
    <div class="container my-24 mx-auto md:px-6">
      <section class="mb-32 text-center">
        <h2 class="mb-12 text-3xl font-bold">Tipos de Requerimientos</h2>

        

        <div class="grid gap-x-6 md:grid-cols-3 lg:gap-x-12">
          <div class="mb-12 md:mb-0">
            <div class="mb-6 flex justify-center">
              <img src="{% static 'assets/RDC.webp' %}"
                class="w-32 rounded-full shadow-lg dark:shadow-black/20" />
            </div>
            <h5 class="mb-2 text-lg font-bold">Requerimiento de Cambio (RDC)</h5>

            <p class="mb-4 text-justify">
              Este proceso implica abordar mejoras funcionales en SAP mediante horas del pool de horas
               contratado, basadas en un Documento de Solicitud de Cambio (CRD) del cliente. Novis ofrece 
               una propuesta de solución y estimación de horas, sujetas a revisión y aprobación del cliente 
               antes de iniciar la implementación. Además, se puede acordar una estimación de horas para requisitos 
               repetitivos (Requisito Preevaluado), evitando la fase de evaluación de la mejora.
            </p>

            <div class="flex items-center justify-center">
              <a href="/proyectos"
                class="bg-blue-600 text-white p-2 rounded-lg text-sm lg:text-lg font-semibold hover:bg-blue-500 border-2 border-solid text-center border-transparent hover:border-black w-auto px-4">
                Descargar Formato
              </a>
            </div>

          </div>
          <div class="mb-12 md:mb-0">
            <div class="mb-6 flex justify-center">
              <img src="{% static 'assets/Incidente.webp' %}"
                class="w-32 rounded-full shadow-lg dark:shadow-black/20" />
            </div>
            <h5 class="mb-2 text-lg font-bold">Incidente</h5>
            <p class="mb-4 text-justify">
              Orientado a solucionar el problema funcional con su sistema SAP exclusivamente.
    
            </p>

            <div class="flex items-center justify-center">
              <a href="/proyectos"
                class="bg-blue-600 text-white p-2 rounded-lg text-sm lg:text-lg font-semibold hover:bg-blue-500 border-2 border-solid text-center border-transparent hover:border-black w-auto px-4">
                Descargar Formato
              </a>
            </div>

          </div>
          <div class="mb-0">
            <div class="mb-6 flex justify-center">
              <img src="{% static 'assets/Asesoria.webp' %}"
                class="w-32 rounded-full shadow-lg dark:shadow-black/20" />
            </div>
            <h5 class="mb-2 text-lg font-bold">Asesoría</h5>
            <p class="mb-4 text-justify">
              Corresponde a una reunión planificada (bajo demanda), ya sea presencial o remota, 
              de un consultor experto en el tema solicitado. Estas consultorías tienen como objetivo 
              explorar nuevas soluciones y contribuir
              
            </p>

            <div class="flex items-center justify-center">
              <a href="/proyectos"
                class="bg-blue-600 text-white p-2 rounded-lg text-sm lg:text-lg font-semibold hover:bg-blue-500 border-2 border-solid text-center border-transparent hover:border-black w-auto px-4">
                Descargar Formato
              </a>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>




    <!--* Conocenos -->
    <div id="Conocenos">
      <section class="text-neutral-700 dark:text-neutral-300 my-24">
        <h1 class="text-3xl font-bold mb-12 text-center text-black">Nuestro Equipo</h1>
        
      </section>
      <section class="text-neutral-700 dark:text-neutral-300 my-24">
        <div class="grid text-center md:grid-cols-3 gap-8 m-8">
          <div>
            <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-700 dark:shadow-black/30">
              <div class="h-28 overflow-hidden rounded-t-lg bg-blue-300"></div>
              <div
                class="mx-auto -mt-12 w-24 overflow-hidden rounded-full border-2 border-white bg-white dark:border-neutral-800 dark:bg-neutral-800">
                <img src="{% static 'assets/Patricia.webp' %}" alt="Patricia" />
              </div>
              <div class="p-6">
                <h4 class="mb-4 text-2xl font-semibold">Patricia Montino</h4>
                <hr />
                <p class="mt-4">Ingeniera ERP.</p>
                <p class="mt-4">pmontinoz@cenabast.cl</p>
              </div>
            </div>
          </div>

          <div>
            <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-700 dark:shadow-black/30">
              <div class="h-28 overflow-hidden rounded-t-lg bg-red-300"></div>
              <div
                class="mx-auto -mt-12 w-24 overflow-hidden rounded-full border-2 border-white bg-white dark:border-neutral-800 dark:bg-neutral-800">
                <img src="{% static 'assets/Daniella.webp' %}" alt="Daniella" />
              </div>
              <div class="p-6">
                <h4 class="mb-4 text-2xl font-semibold">Daniella Gonzalez</h4>
                <hr />
                <p class="mt-4"> Encargada Sección Administración ERP.</p>
                <p class="mt-4">dgonzalez@cenabast.cl</p>
              </div>
            </div>
          </div>
        
          <div>
            <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-700 dark:shadow-black/30">
              <div class="h-28 overflow-hidden rounded-t-lg bg-purple-400"></div>
              <div
                class="mx-auto -mt-12 w-24 overflow-hidden rounded-full border-2 border-white bg-white dark:border-neutral-800 dark:bg-neutral-800">
                <img src="{% static 'assets/Vania.webp' %}" alt="Vania" />
              </div>
              <div class="p-6">
                <h4 class="mb-4 text-2xl font-semibold">Vania Gallardo</h4>
                <hr />
                <p class="mt-4"></svg> Analista ERP. </p>
                <p class="mt-4">vgallardo@cenabast.cl</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


    <!--* Footer -->
    <footer class="bg-blue-100 py-8 flex flex-col lg:flex-row justify-evenly items-center">
      <div class="text-center mb-4 lg:mb-0">
        <a href="/">
          <img src="{% static 'assets/logo.webp' %}" alt="Logo" width="250" height="150" />
        </a>
      </div>

      <div class="max-w-lg text-center mb-4 lg:mb-0">
        <p class="text-sm lg:text-base">
          Sección de Administración ERP <br /> Departamento Tecnologías De La Información
          <br /> Central de Abastecimiento del Sistema Nacional de Servicios de Salud
        </p>
      </div>
       <!--*
      <div class="text-center">
        <h1 class="text-black text-lg mb-2 lg:mb-4">Links de Interés</h1>
        <div class="flex items-center justify-center">
          <a href="https://www.automationanywhere.com/la" target="_blank" class="flex items-center">
            <img src="{% static 'assets/internet.svg' %}" alt="Mundo" width="30" height="30" />
            <span class="text-sm ml-2">Automation Anywhere</span>
          </a>
        </div>
      
      </div>
      -->
    </footer>

    <div class="bg-blue-600 py-2 text-white text-center">
      <small class="text-sm">&copy; <span id="añoActual"></span>
        <b>Cenabast - Departamento TI</b>
      </small>
    </div>

</body>
<script src="{% static 'js/script.js' %}"></script>

</html>